.mr-slides {
  border: 1px solid gray;
  cursor: grab;
  overflow: hidden;
  padding-top: 66.6666666667%;
  position: relative;

  &.is-grabbing {
    cursor: grabbing;
  }
}

.mr-slides__slide {
  display: block;
  left: 0;
  opacity: 0;
  padding-top: 66.6666666667%;
  position: absolute;
  top: 0;
  transition: opacity 500ms, transform 500ms $ease-in-out-sine;
  transform: translateX(0);
  width: 100%;
  z-index: 0;

  .is-grabbing & {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    transition: none;
  }

  &.is-current {
    opacity: 1;
    transform: translateX(0);
    z-index: 20;
  }

  &.is-next {
    transform: translateX(100%);
    z-index: 10;
  }

  &.is-prev {
    transform: translateX(-100%);
    z-index: 10;
  }
}

.mr-slides__slide__background {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.mr-slides__slide__content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
