<div class="mr-slides">
  <a ng-click="previous()" class="mr-slides__previous" ng-if="hasNavigation"></a>
  <a ng-click="next()" class="mr-slides__next" ng-if="hasNavigation"></a>

  <div
    class="mr-slides__slide"
    ng-repeat="image in images"
    ng-class="{
      'is-next': $index > currentIndex,
      'is-previous': $index < currentIndex,
      'is-current': $index === currentIndex
    }">
    <div class="mr-slides__slide__background" mr-haraway="image"></div>
  </div>
</div>

<div class="bullet-nav" ng-if="hasPagination && images.length > 1">
  <ul>
    <li ng-repeat="image in images">
      <a
        ng-click="setCurrentIndex($index)"
        ng-class="{ 'is-active' : $index === currentIndex }">
        {{ $index }}
      </a>
    </li>
  </ul>
</div>
